
<!DOCTYPE html>
<html lang="en">
<%- include('../pages/head.ejs') %>
 <body>
   <%- include('../pages/header.ejs') %>
    
    <div class ="details-div">
        <h2><%= newCity.name %> </h2>
        <img src=<%= newCity.image_url %> >
        <p><%= newCity.description %></p>
        <h3>Total Score: <span class="scores-li"><%= newCity.general_score %></span> /100</h3>
        <ul class="scores-list">
            <li>Housing: <span class="scores-li"><%= newCity.housing %></span> /10 </li>
            <li>Cost of Living: <span class="scores-li"><%= newCity.cost_of_living %></span> /10</li>
            <li>Startups: <span class="scores-li"><%= newCity.startup %></span> /10</li>
            <li>Venture Capital: <span class="scores-li"><%= newCity.venture_capital %></span> /10</li>
            <li>Travel Connectivity: <span class="scores-li"><%= newCity.travel_connect %></span> /10</li>
            <li>Commute: <span class="scores-li"><%= newCity.commute %></span> /10</li>
            <li>Buisness Freedom: <span class="scores-li"><%= newCity.buisness %></span> /10</li>
            <li>Safety: <span class="scores-li"><%= newCity.safety %></span> /10</li>
            <li>Healthcare: <span class="scores-li"><%= newCity.healthcare %></span> /10</li>
            <li>Education: <span class="scores-li"><%= newCity.education %></span> /10</li>
            <li>Environmental Quality: <span class="scores-li"><%= newCity.enviroment %></span> /10</li>
            <li>Economy: <span class="scores-li"><%= newCity.economy %></span> /10</li>
            <li>Taxation: <span class="scores-li"><%= newCity.taxation %></span></li>
            <li>Internet Access: <span class="scores-li"><%= newCity.internet_access %></span> /10</li>
            <li>Leisure & Culture: <span class="scores-li"><%= newCity.culture %></span> /10</li>
            <li>Tolerance: <span class="scores-li"><%= newCity.tolerance %></span> /10</li>
            <li>Outdoors: <span class="scores-li"><%= newCity.outdoors %></span> /10</li>
        </ul>

        <form action='/favorites' method='POST'>
            <input type='hidden' name='name' value = '<%= newCity.name %>'>
            <input type='hidden' name='image_url' value = '<%= newCity.image_url %>'>
            <input type='hidden' name='description' value = '<%= newCity.description %>'>
            <input type='hidden' name='housing' value = '<%= newCity.housing %>'>
            <input type='hidden' name='cost_of_living' value = '<%= newCity.cost_of_living %>'>
            <input type='hidden' name='startup' value = '<%= newCity.startup %>'>
            <input type='hidden' name='venture_capital' value = '<%= newCity.venture_capital %>'>
            <input type='hidden' name='travel_connect' value = '<%= newCity.travel_connect %>'>
            <input type='hidden' name='commute' value = '<%= newCity.commute %>'>
            <input type='hidden' name='buisness' value = '<%= newCity.buisness %>'>
            <input type='hidden' name='safety' value = '<%= newCity.safety %>'>
            <input type='hidden' name='healthcare' value = '<%= newCity.healthcare %>'>
            <input type='hidden' name='education' value = '<%= newCity.education %>'>
            <input type='hidden' name='enviroment' value = '<%= newCity.enviroment %>'>
            <input type='hidden' name='economy' value = '<%= newCity.economy %>'>
            <input type='hidden' name='taxation' value = '<%= newCity.taxation %>'>
            <input type='hidden' name='internet_access' value = '<%= newCity.internet_access %>'>
            <input type='hidden' name='culture' value = '<%= newCity.culture %>'>
            <input type='hidden' name='tolerance' value = '<%= newCity.tolerance %>'>
            <input type='hidden' name='outdoors' value = '<%= newCity.outdoors %>'>
            <input type='hidden' name='general_score' value = '<%= newCity.general_score %>'>
            <button type='submit' id='save-city'>Add to my List</button>
          </form>
          
        <div class="line">
        </div>
        <h3>Let's find a new job in <%= newCity.name %></h3>
        <form id="job-search" action='/search/job' method='POST'>
            <input type ='hidden' name='city_name' value='<%= newCity.name %>'>
            <input type='text' name='job_query' onfocus="this.value=''" value="Keywords for job search" required>
             <input type='submit' name='submit'>
      </form>
      <div class="line">
    </div>

    </div>
    <%- include('../pages/footer.ejs') %>  
</body>
</html>