<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Document</title>
</head>
<body>
    
    <div>
        <h2><%= newCity.name %> </h2>
        <img src=<%= newCity.image_url %> >
        <p><%= newCity.description %></p>
        <ul>
            <li>Housing: <%= newCity.housing %> /10 </li>
            <li>Cost of Living: <%= newCity.cost_of_living %>/10</li>
            <li>Startups: <%= newCity.startup %> /10</li>
            <li>Venture Capital: <%= newCity.venture_capital %> /10</li>
            <li>Travel Connectivity: <%= newCity.travel_connect %> /10</li>
            <li>Commute: <%= newCity.commute %> /10</li>
            <li>Buisness Freedom: <%= newCity.buisness %> /10</li>
            <li>Safety: <%= newCity.safety %> /10</li>
            <li>Healthcare: <%= newCity.healthcare %> /10</li>
            <li>Education: <%= newCity.education %> /10</li>
            <li>Environmental Quality: <%= newCity.enviroment %> /10</li>
            <li>Economy: <%= newCity.economy %> /10</li>
            <li>Taxation: <%= newCity.taxation %></li>
            <li>Internet Access: <%= newCity.internet_access %> /10</li>
            <li>Leisure & Culture: <%= newCity.culture %> /10</li>
            <li>Tolerance: <%= newCity.tolerance %> /10</li>
            <li>Outdoors: <%= newCity.outdoors %> /10</li>
        </ul>
        <p>Total Score: <%= newCity.generalScore %> /100</p>

        <form action='/favorites' method='POST'>
            <input type='hidden' name='name' value = '<%= newCity.name %>'>
            <input type='hidden' name='image_url' value = '<%= newCity.image_url %>'>
            <input type='hidden' name='description' value = '<%= newCity.description %>'>
            <input type='hidden' name='housing' value = '<%= newCity.housing %>'>
            <input type='hidden' name='cost_of_living' value = '<%= newCity.cost_of_living %>'>
            <input type='hidden' name='startup' value = '<%= newCity.startup %>'>
            <input type='hidden' name='venture_capital' value = '<%= newCity.venture_capital %>'>
            <input type='hidden' name='travel_connect' value = '<%= newCity.travel_connect %>'>
            <input type='hidden' name='commute' value = '<%= newCity.commute %>'>
            <input type='hidden' name='buisness' value = '<%= newCity.buisness %>'>
            <input type='hidden' name='safety' value = '<%= newCity.safety %>'>
            <input type='hidden' name='healthcare' value = '<%= newCity.healthcare %>'>
            <input type='hidden' name='education' value = '<%= newCity.education %>'>
            <input type='hidden' name='enviroment' value = '<%= newCity.enviroment %>'>
            <input type='hidden' name='economy' value = '<%= newCity.economy %>'>
            <input type='hidden' name='taxation' value = '<%= newCity.taxation %>'>
            <input type='hidden' name='internet_access' value = '<%= newCity.internet_access %>'>
            <input type='hidden' name='culture' value = '<%= newCity.culture %>'>
            <input type='hidden' name='tolerance' value = '<%= newCity.tolerance %>'>
            <input type='hidden' name='outdoors' value = '<%= newCity.outdoors %>'>
            <input type='hidden' name='generalScore' value = '<%= newCity.generalScore%> '>
            <button type='submit' id='save-city'>Add to my Favs</button>
          </form>
          
        
        <form action='/search/job' method='POST'>
            <input type ='hidden' name='city_name' value='<%= newCity.name %>'>
            <input type='text' name='job_query'>
             <input type='submit'>
      </form>
  
        
    </div>
</body>
</html>