<!DOCTYPE html>
 <html lang="en">
<%- include('../pages/head.ejs') %>
  <body>
    <%- include('../pages/header.ejs') %>
  <div class="city-display">
    <h2 class="show-city">Jobs in this city</h2>
  </div>
    <div class="job-grid">
        <% output.forEach(job => { %>
          <div class ="job-description">
            <h3><%= job.title %></h3>
            <p><%= job.company %><br>
             <%= job.location %><br>
             Salary range: <%= job.salary_min %> - <%= job.salary_max %></p>

            <a href =<%= job.job_link %>>
              <button class="job-apply">Apply Now</button>
            </a>
          </div>

        <% }); %>
    </div> 
    <%- include('../pages/footer.ejs') %>   
  </body>
 </html>